// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "@jobber/design/foundation.css";

.home {
    width: 900px;
    text-align: center;
    padding-top: 5em;
}
.center {
    margin: auto;
    width: 50%;
  }

.input-group {
    max-width: 400px;
}