// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home {
  width: 900px;
  text-align: center;
  padding-top: 5em;
}

.center {
  margin: auto;
  width: 50%;
}

.join-input-group {
  max-width: 300px;
}

.create-select-group {
  max-width: 250px;
}
